.subscribe_block {
    width: 1100px;
    display: grid;
    background: rgb(43, 43, 43);
    margin: 20px auto;
    grid-template-columns: 250px 300px 550px;
    grid-template-areas:
    "logo info text";
    color: rgb(238, 238, 238);
}
.subscribe_main_info {
    margin: auto 50px auto 0;
    grid-area: info;
    display: flex;
    flex-direction: column;
    h2 {
        padding: 0;
        margin: 0;
    }
}
.logo{
    grid-area: logo;
    padding: 30px 0 30px 30px;
}
.subscribe_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 20px;
    padding-right: 30px;
    grid-area: text;
    a {
        align-self: flex-end;
        color: black;
        text-decoration: none;
        button {
            width: 120px;
            background: rgb(238, 238, 238);
            padding: 7px;
            border: 1px #000 solid;
            border-radius: 10px;
            transition: box-shadow 0.3s ease-in-out;
            font-size: 15px;
            color: black;
            &:hover {
                box-shadow: 0 0 5px rgba(238,238,238,1);
                cursor: pointer;
            }

        }
    }

}